@font-face {
  font-family: "Aileron-thinitalic";
  src: url("../../fonts/Aileron-ThinItalic.otf");
}

/*actual list item*/
.daily-expense {
  list-style-type: none;
  display: flex;
  border-bottom: 1px #e8e8e8 solid;
  /* padding: 0.2rem; */
  cursor: pointer;
}

.daily-expense:hover {
  background: #f8f8f8;
}

.daily-expense:active {
  background: #eeeeee;
  transition: 100ms;
}

/*inner div*/
.list-item-content {
  display: flex;
  width: 100%;
  /* margin-right: 1.2em; */
  /* justify-content: space-evenly; */
  align-items: center;
}

.day-text {
  font-size: 1.7rem;
  font-weight: 500;
  color: #c50;
}

.money-merchant-container-mobile {
  display: flex;
  flex: 1.8 1.8 0;
  align-items: center;
}

.money-container {
  display: flex;
  flex-direction: column;
  /* width: 25%; */
  flex: 0.55 0.55 0;
}

.money-container span {
  display: flex;
  align-items: center;
  margin-top: 3px;
}

.price {
  font-size: clamp(0.85rem, 3vw, 1rem);
  color: #c50;
  font-family: "Golos Text", sans-serif;
}

.paid-off {
  font-size: clamp(0.7rem, 2vw, 0.9rem);
  color: rgb(189, 188, 188);
  font-family: "Aileron-thinitalic";
}

.paid-off img {
  height: clamp(10px, 1vw, 13px);
  width: clamp(10px, 1vw, 13px);
  margin-right: 4px;
}

.merchant {
  font-size: clamp(0.85rem, 2vw, 0.95rem);
  /* width: 100%; */
  word-wrap: break-word;
  font-family: "Mulish", sans-serif;
  flex: 1 1 0;
  padding-block: 4px;
  padding-inline: 30px;;
}

.button-container {
  /* width: 15%; */
  flex: 1 1 0;
  display: flex;
  justify-content: flex-end;
}



.remove-button:hover {
  opacity: 100%;
}
