

.card {
    overflow: hidden;
    max-width: 44rem;
}

.daily-expenses {
  
  margin: 0 auto;
  padding-left: 0;
  overflow: auto;
}

.transition-text {
  font-size: 1em;
  font-weight: bold;
  list-style-type: none;
  text-align: center;
  padding: 20px 0;
  margin-left: 28px;
}
