.expense-list-container {
  
}

.control-center-container {
  margin: 0 auto;
  max-width: 44rem;
  width: 90%;
}

.icon-title-container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.expense-icon {
  height: 1.45rem;
  width: 1.45rem;
}

.header span {
  font-family: "Golos Text", sans-serif;
  font-weight: 500;
  font-size: clamp(0.7rem, 4vw, 1rem)
  
}

.daily-expenses {
  margin: 0 auto;
  padding-left: 0;
  overflow: auto;
  background: white;
  border-radius: 0 0 1rem 1rem;
}

.transition-text {
  font-size: 1em;
  font-weight: bold;
  list-style-type: none;
  text-align: center;
  padding: 20px 0;
  margin-left: 28px;
}