.container {
  display: flex;
  justify-content: flex-end;
  /* width: 90%;
  max-width: 44rem; */
  /* margin: auto; */
  /* padding-right: 1rem; */
  gap: 1rem;
  font-size: 0.95rem;
  font-family: "Golos Text", sans-serif;
  align-items: center;
  background-color: #fff;
  border-top: 1px #e8e8e8 solid;
}

.displaying {
}

.numbers {
  color: #a5a5a5;
}

.button-container {
  display: flex;
  /* gap: 6px; */
}

.button {
  /* border-radius: 50%; */
  padding: 0;
  background-color: transparent;
  outline-color: transparent;
  border-left: 1px #e8e8e8 solid;
  border-right: 1px #e8e8e8 solid;
  border-top: none;
  border-bottom: none;
  cursor: pointer;
  width: 2.2rem;
  height: 2.2rem;
  transition: 0.3s;
}

.button:hover:enabled {
  background-color: #e8e8e8;
}

.image {
  width: 16px;
}

.disabled {
  opacity: 0.4;
  cursor: default;
}