.container {
  display: flex;
  justify-content: flex-end;
  /* width: 90%;
  max-width: 44rem; */
  /* margin: auto; */
  /* padding-right: 1rem; */
  gap: 1rem;
  font-family: "Golos Text", sans-serif;
  align-items: center;
  background-color: #fff;
  /* border-top: 1px #e8e8e8 solid; */
}

.displaying {
}

.numbers {
  color: #a5a5a5;
  font-size: 0.8rem;
}

.button-container {
  display: flex;
  gap: 4px;
}

.button {
  /* border-radius: 50%; */
  /* padding: 0; */
  background-color: transparent;
  outline-color: transparent;
  border: none;
  cursor: pointer;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms;
}

.button:hover:enabled {
  background-color: #ebebeb;
}

.image {
  width: 1.8em;
  -webkit-user-drag: none;
}

.image.left {
  transform: rotate(90deg);
}

.image.right {
  transform: rotate(-90deg);
}

.disabled-button {
  /* background: rgb(226, 226, 226); */
  opacity: 0.4;
  cursor: default;
}

.disabled-image {
  opacity: 0.7;
  cursor: default;
}