.daily-expenses {
    max-width: 60rem;
    margin: 0 auto;
    padding-left: 0;
    
}

.transition-text {
    font-size: 1em;
    font-weight: bold;
    list-style-type: none;
    text-align: center;
    padding: 20px 0;
    margin-left: 28px;
}

.card {
    margin-bottom: 4rem;
}