/*Form*/
.add-expense-form {
  max-width: 300px;
  margin: 0 auto;
  padding: 1rem;
}

.form-heading {
  font-family: 'Golos', sans-serif;
  margin-bottom: 0;
}

/*Input*/
.input {
  font-family: 'Mulish', sans-serif;
  margin: 8px 0;
  border-radius: 4px;
  border: 1px solid #d3d3d3;
  width: 100%;
  height: 40px;
  padding: 0 2px 0 10px;
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  
}

.input:focus {
  outline: none;
  border-color: #4f005f;
  background: #f6dbfc;
}

input[type=date] {
  position: relative;
}

/* input[type=date]::after {
  content: "Date";
  position: absolute;
} */

/*When input is invalid*/
.input.invalid {
  background: #f1959b;
  border: 1px solid red;
}

.error-text {
  font-size: small;
  color: red;
}

/*Select*/
.add-expense-form select {
  margin: 12px 0;
  border-radius: 4px;
  border: 1px solid #d3d3d3;
  width: 100%;
  height: 40px;
  padding: 0 2px 0 10px;
  box-sizing: border-box;
}

/*Button*/
.button-div {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.add-expense-button {
  background-color: rgb(245, 145, 31);
  color: #fff;
  border-radius: 22px;
  border: none;
  height: 44px;
  cursor: pointer;
  transition: 300ms ease-in-out;
  font-family: "Golos Text", sans-serif;
}

.add-expense-button:hover {
  background-color: rgb(231, 136, 27);
}

.remove-button {
  border-radius: 22px;
  height: 44px;
  
  border: none;
  cursor: pointer;
  transition: 300ms ease-in-out;
  background: transparent;
  color: #f33d3d;
  font-family: "Golos Text", sans-serif;
}

.remove-button:hover {
    background-color: #f33d3d;
    color: white;
}

/* .remove-button {
  background-image: url("../../assets/delete-circle.svg");
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  height: clamp(30px, 5vw, 40px);
  width: clamp(30px, 5vw, 40px);
  border: none;
  cursor: pointer;
  opacity: 80%;
  transition: 0.2s;
  flex: 0.3 0.3 0;
} */