/*actual list item*/
.daily-expense {
  display: flex;
  list-style-type: none;
}

.daily-expense span {
  flex: 1;
}

/*inner div*/
.list-item-content {
  display: flex;
  width: 95%;
  border-radius: 1rem;
  /* margin: 1.2em 1.2em 1.2em 0; */
  margin-right: 1.2em;
  padding: 1em 0;
  text-align: center;
  align-items: center;
}

.date-container {
  margin: 0 1rem;
  padding: 0.5rem 1.5rem;
  border: 2px solid #2286dd;
  border-radius: 1rem;
  font-weight: 500;
  color: gray;
}

.date-container span{
  display: block;
}

.day-text {
  font-size: 1.7rem;
  font-weight: 500;
  color: #c50;
}

.money-container {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.money-container span {
  display: flex;
  align-items: center;
  text-align: left;
}

.money-container span img {
  height: 20px;
  width: 20px;
  margin-left: 8px;
}

.price {
  font-size: 1.7rem;
  color: #c50;
}

.paid-off {
  font-weight: 300;
  font-style: italic;
}

.merchant {
  font-size: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
  margin: 0 48px;
}

.remove-button {
  background-image: url("../../assets/remove-icon.png");
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  height: 1.4em;
  width: 1.4em;
  border: none;
  margin: 0 5px 0 0;
}

hr {
  width: 95%;
}

@media screen and (max-width: 1439px) {
  .merchant {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1023px) {
  .merchant {
    font-size: 1.05rem;
  }
}

@media screen and (max-width: 767px) {
  .merchant {
    font-size: 0.8rem;
    margin: 0 20px;
  }

  .price {
    font-size: 1.2rem;
  }

  .paid-off{
    font-size: small;
    word-wrap: normal;
  }

  .money-container {
    margin-left: 1.5rem;
  }

  .money-container span img {
    height: 14px;
    width: 14px;
    margin-left: 4px;
  }

}

@media (max-width: 424px){
  .merchant{
    margin: 0 20px 0 15px;
  }

  .price {
    font-size: 1.1rem;
  }

  .paid-off{
    font-size: small;
    word-wrap: normal;
  }

  .money-container {
    margin-left: 1.2rem;
  }

  .money-container span img {
    height: 14px;
    width: 14px;
    margin-left: 4px;
  }
}

@media (max-width: 374px) {
  .money-container {
    margin-left: 0.8rem;
  }
  
  .merchant{
    font-size: 0.7rem;
    margin: 0 20px 0 10px;
  }
  
  .price{
    font-size: 1rem;
  }

  .paid-off{
    font-size: x-small;
  }

  .money-container span img {
    height: 10px;
    width: 10px;
    margin-left: 4px;
  }
}
