.daily-expenses {
    max-width: 60rem;
    width: 90%;
    margin: 0 auto;
    animation: meals-appear 1s ease-out forwards;
    padding-left: 0;
    
}

.transition-text {
    font-size: 1em;
    font-weight: bold;
    list-style-type: none;
    text-align: center;
}