

.card {
    overflow: hidden;
}

.daily-expenses {
  max-width: 60rem;
  /* height: 82vh;
  height: calc(var(--vh, 1vh) * 100); */
  margin: 0 auto;
  padding-left: 0;
  overflow: auto;
}

.transition-text {
  font-size: 1em;
  font-weight: bold;
  list-style-type: none;
  text-align: center;
  padding: 20px 0;
  margin-left: 28px;
}
