.daily-expense {
    border-radius: 14px;
    background-color: #d3d3d3;
    display: flex;
    flex: 1;
    justify-content: center;
    width: 100%;
    margin: 1.2em 2em;
    padding: 1em 0;
    
}

.daily-expense span {
    margin: 0 auto;
    flex: 1;
}