.container {
    margin: 0 2rem;
    padding: 0.5rem 1.5rem;
    /* border: 2px solid #2286dd; */
    border-radius: 1rem;
    font-weight: 500;
    color: gray;
    background-color: #e8e8e8;
}

.container span{
    display: block;
}

.container .day-text {
    font-size: 1.7rem;
    font-weight: 500;
    color: #1167b1;
}

@media screen and (max-width: 767px) {
    .container {
        margin: 0;
        padding: 0.3rem 1.1rem;
    }

    .container .day-text{
        font-size: 1rem;
    }

    .container span {
        font-size: 0.6rem;
    }
}

@media (max-width: 424px) {
    .container{
        padding: 0.3rem 1rem;
    }

    .container span {
        font-size: 0.5rem;
    }

    .container .day-text {
        font-size: 0.9rem;
    }
}

@media (max-width: 374px) {
    .container{
        padding: 0.4rem 0.85rem;
    }

    .container span {
        font-size: 0.5rem;
    }

    .container .day-text {
        font-size: 0.9rem;
    }
}