/*Form*/
.add-expense-form {
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
}

/*Input*/
.input {
    margin: 12px 0;
    border-radius: 12px;
    border: 1px solid #d3d3d3;
    width: 100%;
    height: 40px;
    padding: 0 2px 0 10px;
    box-sizing: border-box;
}

.input:focus {
    background: cyan;
    border-color: blue;
}

/*When input is invalid*/
.input.invalid {
    background: #f1959b;
    border: 1px solid red;
}

/*Select*/
.add-expense-form select{
    margin: 12px 0;
    border-radius: 12px;
    border: 1px solid #d3d3d3;
    width: 100%;
    height: 40px;
    padding: 0 2px 0 10px;
    box-sizing: border-box;
}

/*Button*/
.button-div {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.close-button {
    border-radius: 12px;
    height: 44px;
    width: 48%;
    margin-left: 6px;
    font-weight: bold;
    border: none;
    background-color: rgb(200, 200, 200);
    
    
}

.add-expense-button {
    background-color: red;
    color: #fff;
    font-weight: bold;
    border-radius: 12px;
    border: none;
    height: 44px;
    width: 48%;
    margin-right: 6px;
    
}

