.heading {
  text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 1rem;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
  
  .input-container label {
  }
  
  .input-container input {
    padding: 10px;
  }
  
  .login-container {
    text-align: center;
  }
  
  .signup-button {
    padding: 0.63em 1.25em;
    font-family: "Golos Text", sans-serif;
    cursor: pointer;
  }
  
  .login-button {
    
  }

  .error {
    color: red;
    margin-block: 0;
    text-align: right;
  }
  