.header {
    display: flex;
    justify-content: space-between;
    padding-block: 0.4rem;
    padding-inline: 0.8rem;
    padding-left: 0.7rem;
    align-items: center;
  }
  
 .actions-container {
  display: flex;
  gap: 4px;
 }
  
  .expense-icon {
    height: 1.45rem;
    width: 1.45rem;
  }