.container{
  display: flex;
  margin: 1rem auto;
  align-items: center;
  justify-content: space-between;
  background: #1167b1;
}

.remaining-balance {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 12px;
  width: 33%;
}

.remaining-balance span {
  font-size: 1.2rem;
  color: #fff;
  font-family: 'Golos Text', sans-serif;
}

.remaining-balance .total-balance {
  color: #fff;
  font-size: 2rem;
  padding-top: 3px;
  font-weight: 400;
  font-family: 'Golos Text', sans-serif;
}

.filter-container{
  display: flex;
  flex-direction: column;
  margin: 12px;
  width: 33%;
  
}

.button-container {
  width: 33%;
  display: flex;
  justify-content: flex-end;
}

.filter-container label {
  margin-left: 7px;
  margin-bottom: 7px;
  color: #072246;
  font-family: 'Mulish', sans-serif;
  color: #fff;
}

.filter-container select {
  border-radius: 12px;
  padding: 10px;
  font-size: medium;
  outline: none;
  border: 1px #fff solid;
  max-width: 176px;
  font-family: 'Mulish', sans-serif;
  height: 50px;
  margin-left: 0.3rem;
  background: #1167b1;
  color: #fff;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
  background-image: url('../../assets/down-arrow.svg');
  
}

/* @media screen and (max-width: 1439px) {
  

  .filter-container select {
    font-size: small;
  }

  .remaining-balance {
    margin-left: 5rem;
  }


  .remaining-balance .total-balance {
    
    padding-top: 0;
  }
}

@media screen and (max-width: 1023px) {
  

}

@media screen and (max-width: 767px) {

  .invisible{
    display: none;
  }
  
  .container{
    flex-direction: column;
    align-items: unset;
  }
  
  
  .remaining-balance span {
    font-size: 1.15rem;
  }

  .remaining-balance .total-balance{
    font-size: 1.35rem;
  }

  .filter-container label{
    display: none;
  }

  .filter-container select{
    font-size: small;
    width: 100%;
  }
} */
