.titles {
    display: flex;
    justify-content: center;
    /* margin-right: 1.57em; */
    margin: 0 3.7em 0 2em;
}

.titles span {
    font-weight: bold;
    margin: 0 auto;
    flex: 1;
}

hr {
    border-color: #e8e8e8;
}