.header {
    padding-inline: 1.2rem;
    padding-block: 0.3rem;
    font-family: 'Golos Text', sans-serif;
    font-weight: 600;
    font-size: 0.85rem;
    border-bottom: 1px #e8e8e8 solid;
    background: white;
    border-radius: 1rem 1rem 0 0;
}

.header span {
    user-select: none;
}