.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px #e8e8e8 solid;
  padding: 0px 14px;
  /* margin-left: 3px; */
  background: #1167b1;
  border-radius: 0.7rem 0.7rem 0 0;
  /* animation: hide-then-show 800ms; */
}

.title {
  font-size: clamp(0.7rem, 4vw, 1rem);
  font-weight: 600;
  font-family: "Golos Text", sans-serif;
  color: white;
  padding: 0.75rem 0.55rem;
}

@keyframes show {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  15% {
    opacity: 0.15;
    visibility: show;
  }
  30% {
    opacity: 0.3;
  }
  45% {
    opacity: 0.45;
  }
  60% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.75;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
    /* visibility: hidden; */
  }

  15% {
    opacity: 0.85;
    /* visibility: hidden; */
  }
  30% {
    opacity: 0.5;
  }
  
  100% {
    opacity: 1;
  }
}
