.new-expense-button {
    border-radius: 2rem;
    padding: 1rem 2rem;
    margin-left: auto;
    margin-right: 51px;
    background-color: #0d3466;
    color: white;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
}

.new-expense-button:hover {
    background-color: #072246;
}

@media screen and (max-width: 1024px) {
    .new-expense-button{
        height: 46px;
        width: 158px;
        font-size: 1rem;
        padding: 1rem;
    }
}

@media screen and (max-width: 767px){
    .new-expense-button{
        margin-right: 28px;
        height: 36px;
        width: 123px;
        font-size: 0.8rem;
        padding: 1rem 1rem 1.9rem 1rem;
    }
}

@media (max-width: 424px) {
    .new-expense-button{
      height: 30px;
      width: 103px;
      font-size: 0.7rem;
      padding: 1rem 1rem 1.8rem 1rem;
    }
  }