

.container {
  border-radius: 1rem;
  margin: 0.8rem auto;
  max-width: 44rem;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsl(0, 0%, 78%);
  width: 90%;
  position: relative;
}

.remaining-balance {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 12px;
  flex: 0.29 1 0px;
}

.total-label {
  color: hsl(208, 82%, 8%);
  font-size: clamp(0.6rem, 2vw, 0.9rem);
  font-family: "Golos Text", sans-serif;
  display: flex;
  justify-content: center;
}

.total-balance {
  color: hsl(208, 82%, 8%);
  font-size: clamp(1.6rem, 4vw, 2rem);
  padding-top: 3px;
  font-weight: 400;
  font-family: "Golos Text", sans-serif;
  text-overflow: ellipsis;
}
