.invisible-wrapper {
  background: white;
  width: 90%;
  max-width: 44rem;
  margin: 0 auto;
  /* position: sticky;
  top: 0;
  z-index: 99; */
  border-radius: 0 0 1rem 1rem;
  padding-top: 0.6rem;
}

.container {
  display: flex;
  margin: 0;
  align-items: center;
  background: #1167b1;
  width: 100%;
  /* position: sticky;
  top: 0;
  z-index: 5; */
}

.remaining-balance {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 12px;
  flex: 0.29 1 0px;
}

.total-label {
  font-size: clamp(8pt, 2vw, 1rem);
  color: #fff;
  font-family: "Golos Text", sans-serif;
  display: flex;
  justify-content: center;
}

.total-balance {
  color: #fff;
  font-size: clamp(12pt, 4vw, 2rem);
  padding-top: 3px;
  font-weight: 400;
  font-family: "Golos Text", sans-serif;
  text-overflow: ellipsis;
}
