.container {
  display: flex;
  margin: 1rem auto;
  align-items: center;
  justify-content: space-between;
  background: #1167b1;
  /* min-height: 11.5vh; */
}

.filter-container {
  padding: 12px;
  flex: 1 1 0px;
}

.filter-icon {
  height: 40px;
  width: 40px;
}

.remaining-balance {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 12px;
  flex: 1 1 0px;
}

.total-label {
  font-size: clamp(8pt, 2vw, 1rem);
  color: #fff;
  font-family: "Golos Text", sans-serif;
  display: flex;
  justify-content: center;
}

.total-balance {
  color: #fff;
  font-size: clamp(12pt, 4vw, 2rem);
  padding-top: 3px;
  font-weight: 400;
  font-family: "Golos Text", sans-serif;
  text-overflow: ellipsis;
}

.button-container {
  flex: 1 1 0px;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}
