.header {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    background: #1167b1;
    height: 60px;
}

.navbar {
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.home {
    font-family: "Golos Text", sans-serif;
}

.home a {
    text-decoration: none;
    font-size: 1.35rem;
    color: white;

}

.links {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-left: 0;
    margin-block: 0;
}

.links a {
    font-family: "Golos Text", sans-serif;
    text-decoration: none;
    color: white;
    

}

.links a:hover {
    text-decoration: underline;
}