.sidebar {
  height: calc(100vh - 60px);
  border-right: solid 1px lightgray;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-block: 0;
  padding: 1rem 2rem;
}

.link {
  text-decoration: none;
  font-family: "Golos Text", sans-serif;
  color: hsl(208, 82%, 25%);
  padding: 6px 12px;
  border-radius: 4px;
}

.link:hover {
  background: rgba(17, 103, 177, 0.1);
}


.active {
  background: rgb(17, 103, 177);
  color: white;
}

.active:hover {
  background: rgb(17, 103, 177);
}