.sidebar {
  height: calc(100vh - 60px);
  border-right: solid 1px lightgray;
  left: 0;
  top: 133px;
  z-index: 1000;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block: 0;
  padding: 1rem 2rem;
  list-style-type: none;
}

.list-item {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;  
}

.link {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding: 6px 12px;
  border-radius: 4px;
  text-decoration: none;
  font-family: "Golos Text", sans-serif;
  color: hsl(208, 82%, 25%);
}

.link:hover {
  background: rgba(17, 103, 177, 0.1);
}

.active {
  background: rgb(17, 103, 177);
  color: white;
}

.active:hover {
  background: rgb(17, 103, 177);
}
