.wrapper {
  /* background: yellow; */
  display: flex;
  height: calc(100vh - 133px);
}

.main-account-info {
  /* background: red; */
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  flex: 0 1 auto;
  position: relative;
}

.back-button-container {
  /* top: 0;
  position: sticky;
  background: yellow; */
  padding-left: 2rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem 2rem;
  overflow-y: scroll;
}

.transactions {
  /* background: cyan; */
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 1rem 2rem;
  border-left: solid 1px hsla(208, 22%, 38%, 0.25);
  overflow-y: scroll;
}

.empty-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.transactions h1 {
  margin-block: 0;
}

.card {
  padding: 1rem;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: hsla(208, 82%, 38%, 0.05);
  width: 25rem;
  /* margin-top: 7px; */
}

.top {
  display: flex;
  align-items: center;
  gap: 10px;
  /* background: yellow; */
}

.account-icon {
  height: 34px;
  width: 34px;
  flex: 0 1 auto;
}

.ellipsis-wrapper {
  display: flex;
  justify-content: flex-end;
}

.ellipsis-button {
  background: none;
  border-radius: 4px;
  cursor: pointer;
}

.ellipsis-icon {
  height: 26px;
  width: 26px;
}

.ellipsis-button:hover {
  background: rgb(236, 236, 236);
}

.ellipsis-button:active {
  background: rgb(243, 243, 243);
}

.text-wrapper-vertical {
  display: flex;
  flex-direction: column;
  /* background: red; */
  flex: 1 1 auto;
}

.text-wrapper-horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: cyan; */
}

.name-note-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  /* background: pink; */
}

.name {
  font-size: 1.25rem;
  font-weight: 500;
}

.note {
  font-size: 0.9rem;
  font-style: italic;
  color: hsla(208, 22%, 38%, 0.85);
}

.type {
  color: rgb(201, 65, 65);
  font-weight: 500;
}

.controls {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  /* background: pink; */
}

.add-button {
  border-radius: 4px;
  padding: 0.75em 1em;
  background: rgba(17, 103, 177, 0.9);
  color: white;
}

.add-button:hover {
  background: rgb(17, 103, 177);
  color: white;
}

.add-button:active {
  background: rgba(17, 103, 177, 0.825);
  color: white;
}

.add-image {
  height: 12px;
  width: 12px;
}

.transfer-button {
  border-radius: 4px;
  padding: 0.75em 1em;
  background: hsla(208, 22%, 38%, 0.25);
}

.transfer-button:hover {
  background: hsla(208, 22%, 38%, 0.3);
}

.transfer-button:active {
  background: hsla(208, 22%, 38%, 0.2);
}

.balance-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.balance {
  font-size: 1.5rem;
  font-weight: 500;
}

.title {
  margin-block: 4px;
}

.id {
  font-size: 0.9rem;
  color: gray;
  font-style: italic;
  margin-block: 0 10px;
}
