.wrapper {
  /* background: yellow; */
  display: flex;
  flex: 1 1 auto;
}

.main-account-info {
  /* background: red; */
  padding: 1rem 2rem;
  border-right: solid 1px hsla(208, 22%, 38%, 0.25);
  flex: 0 1 auto;
}

.transactions {
  /* background: blue; */
  position: relative;
  flex: 1 1 auto;
  padding: 1rem 2rem;
}

.empty-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.transactions h1 {
  margin-block: 0;
}

.card {
  padding: 1rem;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: hsla(208, 82%, 38%, 0.05);
  width: 25rem;
  margin-top: 7px;
}

.top {
  display: flex;
  align-items: center;
  gap: 10px;
  /* background: yellow; */
}

.icon {
  height: 34px;
  width: 34px;
  flex: 0 1 auto;
}

.text-wrapper-vertical {
  display: flex;
  flex-direction: column;
  /* background: red; */
  flex: 1 1 auto;
}

.text-wrapper-horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: cyan; */
}

.name-note-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  /* background: pink; */
}

.name {
  font-size: 1.25rem;
  font-weight: 500;
  /* padding-bottom: 3px; */
}

.note {
  font-size: 0.9rem;
  font-style: italic;
  color: hsla(208, 22%, 38%, 0.85);
}

.controls {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  /* background: pink; */
}

.button {
  /* padding: 0.75em 1.5em; */
  padding: 0.75em 1em;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.add {
  background: #1167b1;
  color: white;
}

.add-image-wrapper {
  height: 12px;
  width: 12px;
}

.add-image-wrapper img {
  height: 100%;
  width: 100%;
}

.button-text {
  font-size: 1rem;
}

.transfer {
  background: hsla(208, 22%, 38%, 0.25);
}

.balance-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.balance {
  font-size: 1.5rem;
  font-weight: 500;
}

.remaining-balance {
}

.title {
  margin-block: 4px;
}

.id {
  font-size: 0.9rem;
  color: gray;
  font-style: italic;
  margin-block: 0 10px;
}
