.dailyExpense {
    border-radius: 14px;
    background-color: #d3d3d3;
    display: table;
    width: 100%;
    table-layout: fixed;
    margin: 20px 0;
    padding: 15px 0;
    
}

.dailyExpense span {
    display: table-cell;
    text-align: center;
}