.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    padding-left: 0;
}

.grid li {
    height: 40px;
    width: 40px;
    position: relative;
    list-style-type: none;
    border-radius: 50%;
    overflow: hidden;
    border: solid 1px lightgray;
}

.grid li img {
    object-fit: contain;
}