.close-button {
    cursor: pointer;
    border-radius: 50%;
    padding: 10px;
    transition: 0.3s;
    user-select: none;
    position: relative;
  }
  
  .close-button:hover {
    background: rgba(13, 74, 128, 0.1);
  }