.page {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    width: 100%;
}

.header {
    flex: 0 1 auto;
    border-bottom: solid 1px lightgray;
    padding-bottom: 10px;
}

.title {
    margin-bottom: 1.5rem;
}

.new-account {
    text-decoration: none;
    padding: 0.75em 1.25em;
    border-radius: 4px;
    color: white;
    background: rgba(17, 103, 177, 0.9);
}

.new-account:hover {
    background: rgb(17, 103, 177);
}

.new-account:active {
    background: hsl(208, 82%, 45%);
}