.page {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: pink; */
    padding: 1rem 2rem;
}

.title {
    margin-block: 0;
}

.new-account {
    text-decoration: none;
    padding: 0.75em 1.25em;
    border-radius: 4px;
    color: white;
    background: rgba(17, 103, 177, 0.9);
}

.new-account:hover {
    background: rgb(17, 103, 177);
}

.new-account:active {
    background: hsl(208, 82%, 45%);
}