.card {
  border-radius: 1rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  margin: 0.5em auto;
  max-width: 44rem;
  width: 90%;
}

/* @media screen and (max-width: 1439px) {
  .card {
    width: 63%;
  }
}

@media screen and (max-width: 1023px) {
  .card {
    width: 85%;
  }
} */
