.container {
    text-align: center;
    background: linear-gradient(180deg, #e8e8e8 25%, #FFF 25%);
    padding: 1rem;
    border-radius: 14px;
}

.icon {
    height: 81px;
    width: 76px;
}


.title {
    font-size: x-large;
    font-weight: 500;
    font-family: 'Golos', sans-serif;
}

.message {
    font-size: large;
    margin-top: 7px;
    font-family: 'Golos', sans-serif;
}

.buttons {
    margin-top: 15px;
}

.close-button {
    border-radius: 22px;
    height: 44px;
    width: 46%;
    font-weight: bold;
    border: none;
    font-family: 'Mulish', sans-serif;
    cursor: pointer;
    margin-right: 7px;
    transition: 0.2s;
    
  }
  
  .close-button:hover {
      background-color: rgb(214, 214, 214);
  }
  
  .delete-button {
      background-color: #ef3737;
      color: #fff;
      border-radius: 22px;
      border: none;
      height: 44px;
      width: 46%;
      font-family: 'Mulish', sans-serif;
      cursor: pointer;
      transition: 0.2s;
      
  }
  
  .delete-button:hover {
      background-color: #d83434;
  }