.edit-button {
    background-image: url('../../assets/edit-icon.png');
    background-color: transparent;
    background-position: center;
    height: 1.4rem;
    width: 1.4rem;
    border: none;
    margin-right: 1.5em;
}