.container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.preview {
  width: 40px;
  height: 40px;
  border: 1px solid #a4abb9;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #a4abb9;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

.preview img {
  object-fit: cover;
}

.input {
  display: none;
}

.button {
  border-radius: 50%;
  padding: 10px;
  height: 40px;
  width: 40px;
  border: 1px solid #a4abb9;
  cursor: pointer;
  background: rgba(17, 103, 177, 0.15);
  color: rgb(17, 103, 177);
}

.filter-container {
  display: flex;
  align-items: center;
  position: relative;
}

.filter-icon {
  height: 26px;
  width: 26px;
  fill: #636363;
}

.option-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px;
}

.icon-container {
  height: 30px;
  width: 30px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  border: solid 1px lightgray;
}

.icon-container img {
  object-fit: contain;
}
