.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
  }
  
  .modal {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 60%;
    min-width: 300px;
    /* max-width: 33rem; */
    background-color: white;
    /* padding: 1rem; */
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    animation: slide-down 300ms ease-out forwards;
    -webkit-animation: slide-down 300ms ease-out forwards;
  }

  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translate(-50%, -60%);
      -webkit-transform: translate(-50%, -60%);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
    }
  }