@font-face {
  font-family: "Roboto-thin";
  src: url("../../fonts/roboto.thin.ttf");
}

/* .button-container {
  flex: 1 1 0px;
  display: flex;
  
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  border-radius: 1rem;
  margin: 0.6rem auto;
  max-width: 44rem;
  width: 90%;
  min-height: 50px;
} */

.new-expense-button {
  outline-color: transparent;
  background-color: rgb(245, 145, 31);
  color: white;
  border: none;
  cursor: pointer;
  font-family: "Mulish", sans-serif;
  font-size: 1rem;
  box-sizing: content-box;
  transition: 0.3s;
  padding-inline: 1.4rem;
  padding-block: 0;
  border-radius: 14px;
  line-height: 1.8rem;
}

.new-expense-button:hover {
  background-color: rgb(255, 166, 65);
  border-radius: 8px;
}

.new-expense-button:active {
  background-color: rgb(255, 174, 81);
  transition: none;
}
