.remove-button {
    background-image: url('../../assets/remove-icon.png');
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    height: 1.4em;
    width: 1.4em;
    border: none;
    margin: 0 5px 0 0;
    /* margin-left: auto; */
    /* padding-right: 50px; */
    /* flex: 0 1 0%; */
}